.header {
    grid-area: h;
    background-color: #27aae1;
    height: 80px;
}
.login_block {
    text-align: right;
}
.login_block span {
    color: black;
    font-size: 20px;
    text-decoration: none;
}