.sidebar {
    grid-area: s;
    border: 2px solid #27aae1;
    background-color: GhostWhite;
}

.side_item {
    padding: 5px;
}

.nav_item {
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}
.nav_item:hover {
    color: #27aae1;
}
.friends_block {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}
.friends_item {
    font-size: 1.8rem;
}
.ava {
    width: 70px;
    border-radius: 50%;
}
.friends_container {
    display: flex;
    justify-content: space-between;
}
.nav_title {
    text-align: center;
}
.friends_container div {
    padding: 10px;
}