.app-wrapper {
    display: grid;
    grid-template-areas: 'h h h' 's m m';
    grid-template-columns:  2fr 10fr;
    grid-gap: 10px;
    padding: 20px;
}
.main-wrapper {
    background-color: hotpink;
    grid-area: m;
}
