.app-wrapper {
    display: grid;
    grid-template-areas: 'h h h' 's m m';
    grid-template-columns:  2fr 10fr;
    grid-gap: 10px;
    padding: 20px;
}
.main-wrapper {
    border: 2px solid #27aae1;
    background-color: GhostWhite;
    grid-area: m;
    min-height: 85vh;
    height: auto;
}
