.dialogs_wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.users {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.ava {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.user_block {
    height: 110px;
    padding: 10px;
    outline: 1px solid black;
}